@media (max-width: 800px) {
    body {
        background: url(../images/bg-mobile.svg) no-repeat var(--primary-medium);
        background-size: contain;
    }

    .container {
        grid-template-columns: auto;
        grid-template-areas: "header"
            "mockup"
            "main"
            "socials";
        padding: 0rem;
        margin:2.6rem 0;
        gap: 0rem;

    }


    header {
        margin: 0rem 3.4rem;
        padding: 0;

    }

    header .logo {
        width: 13rem;
    }

    .mockup {
        padding: 0;
        margin: 5.5rem 3.7rem 0;
    }

    main {
        text-align: center;
        align-items: center;
        justify-content: flex-start;
        padding: 0;
    }

    main > h1 {
        font-size: 2.4rem;
        padding: 0;
        margin:0rem 3.2rem;

    }

    main > p {
        font-size: 1.6rem;
        line-height: 2.4rem;
        padding: 1.4rem 3.5rem 0;
        margin:  0;

    }

    main .btn-register {
        font-size: 1.2rem;
        height: 4rem;
        border-radius: 3.2rem;
        margin: 2.6rem 0 0;
    }

    .socials {
        justify-content: center;
        align-items: flex-start;
    }

    .socials a {
        font-size: 1.2rem;
        width: 3rem;
        height: 3rem;
        margin: 0 0.4rem;
    }

}